
html {
    font-family: "Source Sans Pro";
    font-size: 1em;
    line-height: 1.5;
    scroll-behavior: smooth;
}

.body-White {
    color: white;
}

.feature-header {
    padding-top: 1em;
}

html, body, div, header, footer, section {
    box-sizing: border-box;
}

.hero-text {
    max-width: 70%;
    margin: auto;
    vertical-align: middle;
}

.whiteBig {
    font-size: 2.8rem;
    color: white;
    font-weight: bolder;
    margin: 0;
    line-height: 1.3;
}

h1 {
    font-size: 6rem;
    padding-bottom: 2rem;
    color: #067580;
    font-weight: bolder;
    margin: 0;
    line-height: 1.3;
}

h2 {
    font-size: 3rem;
    color: black;
    font-weight: bold;
    margin: 0;
    line-height: 1.3;
}

h3 {
    font-size: 2rem;
    color: #067580;
    font-weight: normal;
    margin: 0;
    line-height: 1.6;
}

h3.subtext {
    padding-bottom: 1rem;
}

h4 {
    font-family: "Source Sans Pro";
    font-size: 0.9rem;
    color: #314F67;
    font-weight: normal;
    margin: 0;
    line-height: 1.6;

}

h5 {
    font-family: "Montserrat";
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: #067580;
    margin: 0;
    line-height: 1.6;

}

h6 {
    font-family: "Montserrat";
    font-size: 1.5rem;
    color: #067580;
    font-weight: bold;
    margin: 0;
    line-height: 1.1;
}

.bodyTextDark {
    color: #314F67;
}

.white {
    color: white;
}

.additional {
    margin-top: -10px;
}

.amount-called {
    font-size: 4em;
    margin-bottom: -2em;
}

.amount {
    font-size: 3em;
    margin-bottom: -2em;
}

img {
    height: auto;
    max-width: 100%;
}

.pageWrapper {
    margin: 0 auto;
    background-image: url("../img/FloatingCubes.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
}

.header {
    background-color: rgba(8, 156, 171, 0.0);
    padding: 1rem 10rem;
    display: flex;
    flex: 1 1 auto;
    flex-wrap: nowrap;
    align-items: center;
    max-width: 100%;
    z-index: 1;
    -webkit-transition: all ease-out .8s;
    -moz-transition: all ease-out .8s;
    -o-transition: all ease-out .8s;
    transition: all ease-out .8s;
}

.header a {
    font-weight: bold;
    font-size: 1.3rem;
}

.hamburger {
    display: block;

}

.icon:hover {
    fill: #FFB221;
}

.icon {
    fill: #FFB221;
}

.show-now  {
    display: block !important;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    opacity: 100 !important;
}

.active {
    background-color: rgba(255, 255, 255, 1.0);
    position: fixed;
    top: 0;
    width: 100%;
}


.logo {
    flex: 1;
}

.logo img {
    display: block;
    height: auto;
    max-width: 12em;
}

nav {
    text-align: right;
}

.nav-a {
    color: rgba(8, 156, 171, 1.0);
    align-items: center;
    text-transform: uppercase;
    padding: .5rem;
    text-decoration: none;
}


.nav-a:hover {
    color: #FFB221;

}

.reveal {
    display: block;
}


.showcase {
    top: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -3rem;
}

.showcase-content {
    background: transparent;
    text-align: center;
}

.animHolder {
    padding: 1rem;
    display: flex;
    flex: 1 1 auto;
    margin: auto;
    max-width: 80%;
    justify-content: center;
}

.heroButtonsHolder {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    text-align: center;
    min-height: 5%;
    margin-top: 2rem;
}

.btn {
    padding: 1em 2em 1em;
    margin: 8px;
    color: white;
    background-color: transparent;
    display: inline-block;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.2s;
    font-family: sans-serif;
    font-weight: 800;
    font-size: .85em;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;

}
.btnwhite {
    border: solid #fff;
}

.btn:hover, .btn:focus {
    opacity: 0.8;
}

.btn:active {
    -webkit-transform: scale(0.80);
    -moz-transform: scale(0.80);
    -ms-transform: scale(0.80);
    -o-transform: scale(0.80);
    transform: scale(0.80);
}

.orange {
    background-color: #FFB221;
    border: solid #FFB221;
}

.orangeText {
    color: #FFB221;
}

.darkgreen {
    color: #067580;
}

.lightgreen {
    color: #089CAB;
}

.lightheader {
    font-weight: lighter;
    font-size: 2.4rem;
}

.greenhollow {
    border: solid #089CAB;
    color: #089CAB;
}

.about {
    margin-top: -20px;
}

.left-text {
width: 100%;
}

.left-text-iframe {
    padding-right: 5%;
}

.right-text {
    display: flex;
    justify-content: center;
}

.right-image {
    display: block;
    justify-content: center;
    width: 30%;
}

.left-image {
    display: block;
    justify-content: center;
    width:40%;
}

.aboutWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.aboutWrapper-1 {
    display: flex;
    flex-drection: row;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 100vw;
    padding: 10rem;
}

/* MODAL CSS */

p {
    font-size: 1.5rem;
}


/* MODAL CSS */

.mfp-fade.mfp-bg {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}

.aboutWrapper-2 {
    display: flex;
    flex-drection: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 10rem;
    background-color: #f7fbff;
}

.aboutWrapper-3 {
    display: flex;
    flex-drection: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 5rem 10rem;
    background-color: #fff;
}

.about .top-arrow {
    height: 20px;
    background-image: url("../img/about-top.svg");
    background-repeat: repeat-x;
    background-position: center;
    background-size: auto 100%;
}

.about .bottom-arrow {
    height: 20px;
    background-image: url("../img/about-bottom.svg");
    background-repeat: repeat-x;
    background-position: center;
    background-size: auto 100%;
}

.keyFeaturesWrapper {
    text-align: center;
    align-content: center;
}

.callout-section {
    background-color: #089CAB;
    padding: 8rem 10rem;
    width: 100vw;
}

.keyFeature-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    text-align: center;
}

.key-feature-text {
    text-align: left;
    border: 2px solid green;
}

.benefitsWrapper {
    text-align: center;
    padding: 5rem 10rem;
    background-color:#f7fbff
}

.kf-content {
    text-align: left;
}

.benefitsBoxContent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    text-align: center;
    min-height: 5%;
    margin: 0 auto;
}

.boxContentFaded {
    background-color: #fff;
    padding: 1.5rem;
    margin: 1.5%;
    cursor: pointer;
}

.boxContentHighlighted {
    background-color: #089CAB;
    padding: 1.5rem;
    margin: 1.5%;
    cursor: pointer;
}

.pricingWrapper {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    min-height: 5%;
    padding: 2% 5%;
}

.pricingWrapperBoxes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    min-height: 5%;
    /*border: 2px solid green;*/
    min-width: 100%;
}

.boxContentOrange {
    background-color: #FFB221;
    padding: 1.5rem;
    max-width: 22%;
    margin: 2rem 1rem;
    max-width: 100%;
    justify-content: center;
    min-width: 20%;

}

.boxContentBottom {
    background-color: darkorange;
    max-width: 100%;
    max-height: 0.2%;
    height: 40px;

}

.contactWrapper {
    display: flex;
    flex-direction: column;
    /*border: 2px solid green;*/
}

.contactContentWrapper {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    padding: 5rem 10rem;

}

.contactTextContent {
    text-align: left;;
}

.contactAnimHolder {
    margin-left: auto;
    max-width: 45%;
}

input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #079cab;
    box-sizing: border-box;
    resize: none;
    color: #000;
    margin-bottom: 1.5rem;
}

input[type=submit] {
    color: white;
    padding: 1.5em 5em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin: 0;
}

::placeholder {
    color: #067580;
}

footer {
    background-color: #089CAB;
    padding: 5rem 10rem;
    width: 100%;
}

.contactUsFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer_section {
    width: 30%;
    margin-right: 1rem;
}

.align-right {
    text-align: right;
}

.socialIcons {
    display: flex;
}

.socialIconIMG img {
    padding-right: 10px;
    max-width: 25px;
}

.pageWrapper{
    max-width: initial;
    width: 100%;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

.growColour:hover {
    background-color: #dffaff;
    opacity: 0.7;
}

@media only screen and (max-device-width: 1174px) {

    .header, .callout-section, .aboutWrapper-1, .aboutWrapper-2, .aboutWrapper-3, .benefitsWrapper, footer {
        padding: 5rem 4rem;
    }

    body {
        font-size: 24px;
        background-color: red;
    }

    /*.showcase {*/
    /*    margin-top: -5rem;*/
    /*}*/

    p {

    }

    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2.8rem;
    }

    h4 {
        font-size: 2.1rem;
    }

    h5 {
        font-size: 2.1rem;
    }

    .whiteBig {
        font-size: 3.8rem;
    }

    .lightheader {
        font-size: 3.4rem;
    }

    h6 {
        font-size: 2.1rem;
    }

    .benefitsBoxContent {
        flex-direction: column;
    }

    .bodyTextDark {
    }
    .aboutWrapper {
        flex-direction: column;
    }

    .left-text-iframe {
        padding-right: 0%;
    }

    .left-text {
        width: 100%;
    }

    .aboutWrapper-1 {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .aboutWrapper-2 {
        padding: 5rem 4rem;
        background-color: #f5f5f5;
    }

    .aboutWrapper-3 {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }


    .boxContentFaded, .boxContentHighlighted {
        min-width: 80%;
    }

    .contactContentWrapper{
        padding: 5%;
        flex-direction: column;
        align-items: center;
    }

    .boxContentOrange {
        padding: 2.5rem;
        max-width: 30%;
    }

    .contactAnimHolder {
        margin-left: inherit;
    }

    #navbox {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        background-color: white;
        text-align: left;
        padding: 15%;
        font-size: 3.5rem;
        height: 100%;
        z-index: 100;
        opacity: 0;

    }

    #navbox a {
        display: block;
    }

    .logo img {
        max-width: 25%;
        padding-left: 3%;
        padding-top: 2.5%;
    }

    .contactTextContent {
        max-width: 100%;
    }

    .body-White {
        font-size: 32px;
        color: #ffffff;
    }

    input[type=text], input[type=email], select, textarea {
        font-size: 2.25rem;
        padding: 30px;
    }

    .contactAnimHolder {
        display: none;
    }

    iframe {
        width: 854px;
        height: 480px;
    }

    .socialIcons {
        flex-direction: column;
    }

    .btn {
        padding: 1em 2.1em 1.1em;
        font-size: 1.2em;
    }

    input[type=submit] {
        padding: 5% 10%;
        margin: 0;
    }

    .socialIcons {
        width: 6%;
    }

    .hamburger {
        display: block;
        padding-right: 3%;
        padding-top: 2.5%
    }

    .hamburger img {
        height: 50px;
    }
}


.modal-dialog {
    max-width: 800px;
    margin: 30px auto;
}



.modal-body {
    position:relative;
    padding:0px;
}

.close {
    position: absolute;
    right: -30px;
    top: 0;
    z-index: 999;
    font-size: 2rem;
    font-weight: normal;
    color: #fff;
    opacity: 1;
}

}